<!DOCTYPE html>
<html>
  <head>
    <title>Clubhouse</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


<!-- navigation bar -->
<% if member_signed_in? %>
    <nav class="navbar is-info" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <%= link_to root_path, class:"navbar-item" do %>
          <h2 class="title is-5"> Homepage </h2>
        <% end %>
      </div>

      <div>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarExample" class="navbar-menu">

        <div class="navbar-end">
          <div class="field is-grouped">

<% else %>
      <nav class="navbar is-dark" role="navigation" aria-label="main navigation">

        <div class="navbar-brand">
          <%= link_to root_path, class:"navbar-item" do %>
            <h2 class="title is-5"> Homepage </h2>
          <% end %>
        </div>

        <div>
          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarExample" class="navbar-menu">

          <div class="navbar-end">
            <div class="field is-grouped">
<% end %>

<% if member_signed_in? %>
      <div class="control">
        <p>
          <%= link_to "New Post", new_post_path, class:"button is-warning is-light" %>
        </p>
      </div>

      <div class="control">
        <p>
          <%= link_to current_member.name, edit_member_registration_path, class:"button is-info" %>
        </p>
      </div>

      <div class="control">
        <p>
          <%= link_to "Logout", destroy_member_session_path, method: :delete, class:"button is-info" %>
        </p>
      </div>
<% else %>

        <div class="control">
           <p>
             <%= link_to "Become a member", new_member_registration_path, class:"button is-warning" %>
           </p>
        </div>

        <div class="control">
          <p>
            <%= link_to "Login", new_member_session_path, class: "button is-danger" %>
          </p>
<% end %>
        </div>
      </div>
    </div>

  </div>
</nav>


<!-- flash notification -->
<% if flash[:notice] %>
  <div class="notification is-primary global-notification">
    <p class="notice"> <%= notice %> </p>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="notification is-primary global-notification">
    <p class="alert"> <%= alert %> </p>
  </div>
<% end %>

<%= yield %>

  </body>
</html>
